#footer .footerh3{
    color: $colorPrincipal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    background-color: black;
    padding: 10px;
    margin-top: 0%;
    margin-bottom: 0%;
}

#footer .footerMapa {
    border: black 4px solid;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    }

footer .footerMapa .facebook {
    width: 50px;
    height: auto;
}

.facebookCaja {
    background-color: white;
    padding: 10px 10px 10px 10px;
    border: 55px;
    border-radius: 100%;
}

.mapa {
    width: 900px;
    height: 250px;    
}

.instagram {
    width: 50px; 
    height: auto;
}

.instagramCaja {
    background-color: white;
    padding: 10px 10px 10px 10px;
    border: 55px;
    border-radius: 100%;
}

.footerRedes {
    border: white 8px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    color: black;
}

.footerRedes p {
    color: black;
}

.iconMap {
    width: 50px;
    height: auto;
    display: flex;
}

.iconEmail {
    width: 50px;
    height: auto;
}

.iconTel {
    width: 50px;
    height: auto; 
}

#consultas {
    text-align: center;
    padding-top: 50px;
    display: inline;
}

h3 {
    padding: 15px;
    margin-top: 0%;
    margin-bottom: 0%;
    background-color: black;
    color: $color;
    font-family: 'Cormorant Infant', serif;
    letter-spacing: 5px;
    text-align: center;
}


legend {
        background-color: white;
        color: black;
        font-family: 'Cormorant Infant', serif;
        text-align: center; 
}

.formulario {
    align-items: center;
    font-size: 23px;
    padding-top: 10px 15px 15px 15px;
    justify-content: start;
}

label {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}