h2 {
    padding: 15px;
    margin-top: 0%;
    margin-bottom: 0%;
    font-family: 'Cormorant Infant', serif;
    letter-spacing: 5px;
    text-align: center;
    border: inset;
}

@keyframes efecto {
    0% {
        color: $color;
        font-size: auto;
    }
    100% {
        color: black;
        font-size: 18px;
    }
}

.tituloh2 {
    animation-name: efecto;
    animation-iteration-count: initial;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-timing-function:linear;
}

.tituloh2 {
    background-color: black;
    color: $color;
    background-image: linear-gradient(to left, red,rgb(187, 187, 20));
}

#video_home {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 60px;
    flex-direction: row;
}

#video_home .btnPedir {
    font-size: 50px;
    color: $color;
    background-color: none;
    border: 5px solid white;
    padding: 15px;
    border-radius: 50%;
    position: absolute;
    bottom: -250px;
    nav-left: 100px;
    width: 300px;
    height: auto;
    transition: width 3s;
    text-align: center;
}

#video_home .btnPedir:hover {
    width: 400px;
    height: auto;
    background-color: rgb(216, 77, 22);
    text-align: center;
}